<article style="background-color: #2B2B2B" id='banner-box'>
    <h2 style="text-align: center;" >Welcome to HostCTF</h2>
</article>
<article>
    <h2>Rules:</h2>
    <ol>
        <li>Running time: <code class="language-plaintext highlighter-rouge">17/12/2023 13:00 PM</code> to <code class="language-plaintext highlighter-rouge">19/12/2023 13:00 PM</code> (times in UTC)</li>
        <li>No bruteforcing</li>
        <li>No automated vulnerability scanning</li>
        <li>Do not attack our CTF infrastructure</li>
        <li>Have fun!</li>
    </ol>
</article>
<article>
    <h2>Links:</h2>
    <ul>
        <li>Get help at: <a href="https://matrix.org/" target=_blank>HostCTF Matrix room</a></li>
        <li><a href="https://eg-zine.cf" target=_blank>eg-zine.cf - Hacking blog</a></li>
        <li><a href="https://ctftime.org" target=_blank>ctftime.org - CTF Events calendar / scoreboard</a></li>
    </ul>
</article>

